#section-calendrier {
    color: dimgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section-calendrier .closed {
    background-color: cadetblue;
    color: lightgray
}
#section-calendrier .holiday {
    background-color: goldenrod;
    color: black;
}
.hidden {
    display: none !important;
}
